ion-card {
    background-color: #0074e4;

    border-radius: 10px;

    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

    margin: 10px;

    padding: 1px;

    text-align: center;

    color: white;
}

ion-label {
    font-size: 18px;
    /* Tamaño de fuente */
    font-weight: bold;
    /* Texto en negrita */
    margin-bottom: 10px;
    /* Margen inferior */
}

ion-card-content {
    display: flex;
    /* Flexbox para centrar contenido verticalmente */
    flex-direction: column;
    /* Alinear elementos en columna */
    align-items: center;
    /* Alinear elementos al centro horizontalmente */
}